* {
  margin: 0;
  padding: 0;  
}

html {
  font-family: Poppins, sans-serif;
  color: #f0f0f0;
}

body {
  min-height: 100vh;
  background: black;
  color: #a2a5b3;
  text-align: center;
  padding: 20px;
}

@font-face {
  font-family: 'Sigilos';
  src: url('../font/OrdemParanormalSigilos.ttf') format('truetype');
}

h1 {
  font-family: 'Sigilos', sans-serif;
  color: white;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.card {
  display: block;
  width: max-content;
  margin: 2em auto;
  padding: 0.8em 1.6em;
  background: black;
  color: white;
  text-align: center;
  border-radius: 10px;
  position: relative;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s;
}



@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.card::after, .card::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(from var(--angle), #ffffff, #ffffff, #ffffff, #000000, #000000);
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 3px;
  border-radius: 10px;
  animation: 3s spin linear infinite;
}

.card::before {
  filter: blur(1.5rem);
  opacity: 0.5;
}

@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}


@media (max-width: 600px) {
  .card {
    font-size: 1rem;
    padding: 0.6em 1.2em;
  }
}
